body {
	background: rgba(250, 254, 140, 0.8);
}

.navbar-default {
	background: rgb(220, 250, 240); 
	color: white;
}

.thumbnail img {
	width: 100%;
}

.thumbnail {
	padding: 0;
}

.thumbnail .caption-full {
	padding: 9px;
}

.delete-form {
	display: inline;
}